div.app {

}

div.search {
    font-style: bold;
    font-size: 20px;
}

div.toggles {
    font-size: 16px;
}

span.toggle {
    display: block;
}

input.search-input {
    height: 30px;
    width: 300px;
}