div.info {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
}

div.info-name {
    font-style: bold;
    font-size: 30px;
}

div.info-price {
    font-style: italic;
    font-size: 20px;
}